extends layout/main

block here
    .upload
        a(href=`/upload${routes.uploadComics}`)
            button.upload-btn__comics Comics
        a(href=`/upload${routes.uploadIlluste}`)
            button.upload-btn__illuste Illuste
        a(href=`/upload${routes.uploadSketch}`)
            button.upload-btn__sketch Sketch
        a(href=`/upload${routes.uploadNotice}`)
            button.upload-btn__notice  Notice
        a(href=`/upload${routes.uploadBackground}`)
            button.upload-btn__background  Background